.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #8257e8, #000080);
  }
  
  .number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #191970;
    color: #fff;
    font-size: 72px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #191970;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .title {
    font-size: 4rem; /* Define o tamanho do título */
    text-align: center; /* Centraliza o título */
    color: #ffffff; /* Define a cor do título */
  }

  .values {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .values p {
    margin: 10px 0;
  }
  
  .values p:first-child {
    font-weight: bold;
  }